@font-face {
  font-family: roboto-regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-medium;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-bold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: #cacaca;
  font-family: roboto-regular, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-family: roboto-bold;
  line-height: 90px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 38px;
  font-family: roboto-bold;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
}

.first-section > * {
  text-align: center;
  width: 1200px;
}

.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo > p {
  margin: 0;
}

.nav {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0 0 0 90px;
  padding: 0;
}

.nav > a {
  color: #cacaca;
  text-decoration: none;
}

.login-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.login-form > section > input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: transparent;
}

.login-form > section > input::placeholder {
  color: #fff;
  font-family: roboto-bold;
  font-size: 14px;
}

.reg-form {
  max-width: 570px;
}

.search-form {
  width: 248px;
  height: 25px;
}

.search-form-input * {
  display: block;
  width: 100%;
  height: 100%;
}

.search-text-box {
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
  padding: 5px 0 5px 10px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.align-items-center {
  align-items: center;
}

.bg-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.display-flex {
  display: flex;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.height-24 {
  height: 24px;
}

.margin-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.width-24 {
  width: 24px;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .first-section {
    padding: 250px 20px 200px;
  }
  .first-section > * {
    width: 100%;
  }
  .header {
    left: 0;
    transform: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
  }
  .mobile-styles {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    flex-direction: column;
    gap: 3px;
    margin: 17px 0 18px 0;
    font-family: roboto-bold;
  }
  .search-form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
