.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pricing-item {
  height: 615px;
  flex-grow: 0.3;
  border-radius: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pricing-item > h3 {
  margin-top: 24px;
  margin-bottom: 200px;
}

.subs-border {
  border: 1px solid $white-color;
}

.bg-subs-1 {
  background: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}

.bg-subs-2 {
  background: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}

.bg-subs-3 {
  background: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}