@font-face {
  font-family: roboto-regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-medium;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-bold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}