h1 {
  font-size: 30px;
  line-height: 45px;
}

h2 {
  font-size: 18px;
  line-height: 27px;
}

.cards {
  flex-direction: column;
  gap: 16px;
}

.first-section {
  padding: 250px 20px 200px;
}

.first-section > * {
  width: 100%;
}

.header {
  left: 0;
  transform: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
}

.login-form {
  flex-direction: column;
}

.mobile-styles {
  flex-direction: column;
  align-items: flex-start;
}

.nav {
  flex-direction: column;
  gap: 3px;
  margin: 17px 0 18px 0;
  font-family: roboto-bold;
}

.news-section {
  padding-left: 20px;
  padding-right: 20px;
}

.news-body > h3 {
  font-size: 16px;
}

.news-item {
  width: 100%;
  flex-direction: column;
}

.search-form {
  width: 100%;
}

.subscr-section {
  padding-left: 20px;
  padding-right: 20px;
}

.subscr-section > * {
  width: 100%;
}