h1 {
  font-size: 30px;
  line-height: 45px;
}

h2 {
  font-size: 18px;
  line-height: 27px;
}

.header {
  left: 0;
  transform: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
}

.mobile-styles {
  flex-direction: column;
  align-items: flex-start;
}

.nav {
  flex-direction: column;
  gap: 3px;
  margin: 17px 0 18px 0;
  font-family: roboto-bold;
}

.search-form {
  width: 100%;
}