@import "fonts.scss";
@import "colors.scss";

body {
  color: $main-text-color;
  font-family: roboto-regular, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  background-color: $main-bg-color;

  margin: 0;
}

h1 {
  font-size: 60px;
  font-family: roboto-bold;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-family: roboto-bold;
  line-height: 57px;
  text-transform: uppercase;
}

@import "header.scss";
@import "logo.scss";
@import "nav.scss";

.align-items-center {
  align-items: center;
}

.display-flex {
  display: flex;
}

.gap-16 {
  gap: 16px;
}

.height-24 {
  height: 24px;
}

.text-white {
  color: $white-color;
}

.uppercase {
  text-transform: uppercase;
}

.width-24 {
  width: 24px;
}

@media (max-width: 1240px) {
  @import "low_resolution.scss";
}