@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: $main-text-color;
  font-family: roboto-regular, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  background-color: $main-bg-color;

  margin: 0;
}

h1 {
  font-size: 60px;
  font-family: roboto-bold;
  line-height: 90px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 38px;
  font-family: roboto-bold;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

@import "buttons.scss";
@import "first_section.scss";
@import "header.scss";
@import "logo.scss";
@import "nav.scss";
@import "forms.scss";
@import "sr_only.scss";

.align-items-center {
  align-items: center;
}

.bg-img {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.display-flex {
  display: flex;
}

.font-size-16 {
  font-size: 16px;
}

.height-24 {
  height: 24px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white-color;
}

.uppercase {
  text-transform: uppercase;
}

.width-24 {
  width: 24px;
}

@media (max-width: 1240px) {
  @import "low_resolution.scss";
}