@mixin font-size-x($fs) {
  font-size: $fs;
}

@mixin margin-bottom-x($mbx) {
  margin-bottom: $mbx;
}

@mixin margin-left-x($mlx) {
  margin-left: $mlx;
}

@mixin margin-right-x($mrx) {
  margin-right: $mrx;
}

@mixin margin-top-x($mtx) {
  margin-top: $mtx;
}

@mixin padding-left-x($plx) {
  padding-left: $plx;
}

@mixin width-x($width) {
  width: $width;
}