@media (max-width: 1240px) {
  h1 {
    font-family: roboto-bold, sans-serif;
    font-size: 30px;
    font-weight: 700;
  
    line-height: 45px;
  
    text-transform: uppercase;
  }
  
  h2 {
    font-family: roboto-bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
  
    line-height: 27px;
  
    text-transform: uppercase;
  }

  .header {
    flex-direction: column;
    width: 100%;
    
  }

  .nav {
    flex-direction: column;
  }
  
  .nav-list {
    flex-direction: column;
    margin-left: 20px;
  }
}