.news-all {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.news-item > img {
  width: 100%;
}

.news-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.news-author > img {
  width: 19px;
  height: 19px;
}

.news-author > * {
  margin: 0;
  font-size: 12px;
}

.news-logo {
  text-transform: uppercase;
  color: $news-logo;
}

.news-body > p {
  font-size: 16px;
}

.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}

.news-body > h3 {
  font-family: roboto-regular;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.news-item {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 1200px;
}