.subscr-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}

.subscr-section > * {
  text-align: center;
  width: 1200px;
}

.subs-footer {
  font-size: 13px;
  line-height: 1.5;
  color: $white-color;
  margin-bottom: 64px;
}

.subs-price {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: $white-color;
}